.title-block{
  display: flex;
  margin: 44px 0 14px;
  &__text {
    margin: 0 0 0 15px;
  }
  &__title{
    font-weight: 500;
  }
  &__time{
    font-size: 14px;
    margin: 7px 0 14px;
  }
  &__desc{
    font-size: 18px;
  }
  &__status{
    align-self: center;
    width: 67px;
    height: 66px;
    color: #fff;
    display: flex;
    align-items: center;
    background-color: #0071bc;
    font-size: 21px;
    line-height: 0.8952;
    text-align: center;
    font-weight: 900;
    &--live{
      background-color: #ff1d25;
    }
  }
  &.rtl &__text{
    margin: 0 15px 0 0;
  }
}