*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
  line-height: 1;
  background-color: #ccc;
  font-family: 'AnisettePetite',arial ,sans-serif;
  font-weight: 400;
}
.container{
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 20px;
}
.rtl{
  direction: rtl;
}
.ltr{
  direction: ltr;
}
.arabic{
  font-family: 'Heebo', sans-serif;
}
.video-block{
  background-color: #fff;
}
